{% extends 'core/base.html' %}
{% block head %}
<style>
  .back-color {
    background-color: black;
    color: white;
  }
</style>

{% endblock head %}
{% block content %}
<div class="container mt-3">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mx-lg-n5 justify-content-center">
        <div class="col py-3 px-lg-3 border bg-dark">
            <div class="list-group">
                <a href="{% url 'number-to-word' %}" class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Convert numbers to words</h5>
                    <small>Dec 2023</small>
                  </div>
                  <p class="mb-1">Convert numbers in figures to words. </p>
                  <small class="text-danger">Limit is 999 Trillion.</small>
                </a>
                
              </div>
        </div>

        <div class="col py-3 px-lg-3 border bg-dark">
          <div class="list-group">
              <a href="{% url 'database-learning' %}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Learn SQL with POSTGRES</h5>
                  <small>Jan 2024</small>
                </div>
                <p class="mb-1">Learn SQL fast and effectively with PostgreSQL. 
                  
                </p>
                <small class="text-danger">Link to database learning strategy</small>
              </a>
              
            </div>
        </div>

        <div class="col py-3 px-lg-3 border bg-dark">
          <div class="list-group">
              <a href="{% url 'auto-email' %}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Automate Email sending report</h5>
                  <small>May 2024</small>
                </div>
                <p class="mb-1">Automating a regular task can be a very productive thing to do.
                  
                </p>
                <small class="text-danger">We use python and crontab</small>
              </a>
              
            </div>
        </div>

        <div class="col py-3 px-lg-3 border bg-dark">
          <div class="list-group">
              <a href="{% url 'tinyproject-profile' %}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Filling form and Data transfer</h5>
                  <small>July 2024</small>
                </div>
                <p class="mb-1">
                  user friendly form fill
                </p>
                <small class="text-danger">Expertise on django form api</small>
              </a>
              
            </div>
        </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <a class="btn btn-outline-dark" href="{% url 'tutorials' 2 %}"> Tutorials</a>
      </div>
    </div>
    
</div>
{% endblock%}