{% extends 'core/base.html' %}

{% load static %}

{% block head %}

<style>
    .fantasy-font {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .pretty-font {
        background-image: linear-gradient(to left, rgb(180, 130, 238), indigo, red, green, blue, orange, yellow);
        -webkit-background-clip: text;
        color: transparent;
        /* font-size: 40px; */
        font-weight: bold;
        /* font-family: fantasy; */
        font-size: 100px;

        @media screen and (max-width: 768px) {
            font-size: 80px;
        }
    }

    .greybox {
        background-color: gray;

    }

    .plainbox {
        background-color: whitesmoke;
    }
</style>

{% endblock %}


{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <h3 class="pretty-font">Scush Web App</h3>
            <a class="text-decoration-none" href="https://www.scush.com.ng" target="_blank">Visit Site</a>
        </div>
        <div class="col-sm-6">
            <p class="first-letter text-muted">
                SCusH is a customized application designed to streamline administrative functions across key
                business areas. Launched in June 2022, SCusH has revolutionized operational efficiency for
                Ozone F & L by automating key processes such as payroll management, performance tracking,
                policy documentation, and workflow optimization, cashflow and bank reconciliation. Its
                impact extends to financial analytics, providing insightful reports on Profit and Loss statements and
                Balance Sheets extracted from an accounting software, enabling data-driven decision-making. By reducing
                workloads, minimizing workplace conflicts, and fostering a more organized environment, SCusH has
                transformed administrative processes into a seamless, efficient system and proven to be an indispensable
                asset for the company.
            </p>
            <hr>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item first-letter">Apps
                    <span class="badge badge-pill badge-dark float-right h3">
                        <p class="h4">17</p>
                    </span>
                </li>
                <li class="list-group-item first-letter">Models
                    <span class="badge badge-pill badge-dark float-right h3">
                        <p class="h4">46</p>
                    </span>
                </li>
                <li class="list-group-item first-letter">Views
                    <span class="badge badge-pill badge-dark float-right h3">
                        <p class="h4">10</p>
                    </span>
                </li>
                
            </ul>
        </div>

        <div class="col-sm-6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item first-letter">Forms
                    <span class="badge badge-pill badge-dark float-right h3">
                        <p class="h4">10</p>
                    </span>
                </li>
                <li class="list-group-item first-letter">Others
                    <span class="badge badge-pill badge-dark float-right h3">
                        <p class="h4">10</p>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-4 greybox">
            <p class="text-center text-white">The Index page and Dashboard of Scush</p>
            <img class="text-center mb-1" width="100%" height="45%" src="{% static 'scush/indexpage.png' %}" alt="">
            <img class="text-center" width="100%" height="45%" src="{% static 'scush/dashboard.png' %}" alt="">
        </div>
        <div class="col-sm-8 plainbox">
            <section>
                <h4 class="first-letter">Technologies</h4>
                <ol>
                    <li><b>Programming Language:</b> Python programming language and Javascript</li>
                    <li><b>Database:</b> Sqlite for developement and Postgres for production on heroku</li>
                    <li><b>Backend:</b> Django framework technology</li>
                    <li><b>Frontend:</b> Bootstrap CDN, HTML, and CSS</li>
                    <li><b>Storing Media Files:</b> Hosted on amazon S3 storage</li>
                    <li><b>Serving Static Files:</b> Whitenoise</li>
                    <li><b>Email Server:</b> Google gmail</li>
                    <li><b>Message Broker:</b> RabbitMq a heroku add-on</li>
                    <li><b>Domain Source:</b> Namecheap</li>
                    <li><b>Deployment:</b> Deployed on Heroku platform</li>
                    <li><b>Collaboration:</b> Git and GitHub</li>
                    <li><b>Icons:</b> Fontawesome</li>
                </ol>
            </section>
            <hr>
            <section>
                <h4 class="first-letter">Main Features</h4>
                <ol>
                    <li><b>Sending Mails:</b> Able to send mails automatically upon updating or creating records</li>
                    <li><b>Creating PDF:</b> Produce a PDF document as a hard copy</li>
                    <li><b>Able to carryout scheduled tasks:</b> Send notification, mails and execute tasks</li>
                    <li><b>Present plots and graphs:</b> A pictorial presentation to aid understanding and analysis of
                        data</li>
                </ol>
            </section>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col"><a class="btn btn-outline-dark float-right" href="{% url 'index' %}">Home</a></div>
    </div>
</div>

{% endblock %}