{% extends 'core/base.html' %}

{% load static %}

{% block head %}

<style>
    .fantasy-font {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .pretty-font {
        background-image: linear-gradient(to left, rgb(180, 130, 238), indigo, red, green, blue, orange, yellow);
        -webkit-background-clip: text;
        color: transparent;
        /* font-size: 40px; */
        font-weight: bold;
        /* font-family: fantasy; */
        font-size: 100px;
        @media  screen and (max-width: 768px) {
            font-size: 80px;
        }
    }
    .greybox {
        background-color: gray;
        
    }
    .plainbox {
        background-color: whitesmoke;
    }
</style>

{% endblock %}


{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <h3 class="text-center pretty-font">Scush Web App</h3>
            <p class="text-center">
                <a href="https://www.scush.com.ng" target="_blank"><i class="fa"></i>Visit the website</a></p>
        </div>
        <div class="col-sm-6">
            <p class="first-letter text-muted">
                Scush, a customized SaaS app, that streamlines administrative functions within a company, focusing on three core areas: Stock, 
                Customers, and Human Resources—aptly reflected in its name, SCusH. Launched in June 2022, this dynamic website has improved 
                operational efficiency. From processing payroll and tracking key performance indicators to documenting policies and automating,
                Scush has significantly reduced workloads and minimized chaos and conflict in the workplace. Moreover, its 
                capabilities extend to financial analytics, offering insightful analysis of Profit and Loss statements and balance sheets 
                from accounting software. This feature is pivotal in informing critical business decisions. 
                Scush has not only automated but also transformed administrative processes, proving to be an invaluable asset for Ozone F & L
                (The owner of the site).
            </p>
            <hr>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-4 greybox">
            <p class="text-center text-white">The Index page and Dashboard of Scush</p>
            <img class="text-center mb-1" width="100%" height="45%" src="{% static 'scush/indexpage.png' %}" alt="">
            <img class="text-center" width="100%" height="45%" src="{% static 'scush/dashboard.png' %}" alt="">
        </div>
        <div class="col-sm-8 plainbox">
            <section>
            <h4 class="first-letter">Technologies</h4>
            <ol>
                <li><b>Programming Language:</b> Python programming language and Javascript</li>
                <li><b>Database:</b> Sqlite for developement and Postgres for production on heroku</li>
                <li><b>Backend:</b> Django framework technology</li>
                <li><b>Frontend:</b> Bootstrap CDN, HTML, and CSS</li>
                <li><b>Storing Media Files:</b> Hosted on amazon S3 storage</li>
                <li><b>Serving Static Files:</b> Whitenoise</li>
                <li><b>Email Server:</b> Google gmail</li>
                <li><b>Message Broker:</b> RabbitMq a heroku add-on</li>
                <li><b>Domain Source:</b> Namecheap</li>
                <li><b>Deployment:</b> Deployed on Heroku platform</li>
                <li><b>Collaboration:</b> Git and GitHub</li>
                <li><b>Icons:</b> Fontawesome</li>
            </ol>
            </section>
            <hr>
            <section>
            <h4 class="first-letter">Main Features</h4>
                <ol>
                    <li><b>Sending Mails:</b> Able to send mails automatically upon updating or creating records</li>
                    <li><b>Creating PDF:</b> Produce a PDF document as a hard copy</li>
                    <li><b>Able to carryout scheduled tasks:</b> Send notification, mails and execute tasks</li>
                    <li><b>Present plots and graphs:</b> A pictorial presentation to aid understanding and analysis of data</li>
                </ol>
            </section>
        </div>
    </div>
</div>

{% endblock %}