<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome email</title>
</head>
<body>
    <h3>Hello {{ name }},</h3>
    <p>Welcome to chores. </p>
    {% if user.is_staff %}
    <p>You will be an examiner. Able to delegate job and assess work done.</p>
    {% else %}
    <p>You will get jobs assigned to you to enable you earn points.</p>
    {% endif %}
    <p>Thanks,<br>The Team</p>
</body>
</html>