[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
whitenoise = "*"
django-storages = "*"
django-on-heroku = "*"
python-dotenv = "*"
crispy-bootstrap4 = "*"
sphinx = "*"
furo = "*"
celery = "*"
django-celery-beat = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.11"
