{% extends 'core/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-sm-10">
            <h3>Achiever's Page
                {% if user.is_staff %}
                <span class="float-right">
                    <a class="btn btn-outline-success" href="{% url 'achieve-create' %}"><i class="fas fa-hand-holding-medical"></i></a>
                </span>
                {% endif %}
            </h3>
            <hr>
            <h5>Dear Achievers,
                
            </h5>
            <p>
                You are the creators of tomorrow's dreams and the builders of a brighter future. Every small effort you
                make today shapes the amazing person you are becoming. The world is waiting for your unique ideas, your
                kindness, and your unstoppable spirit.

                Remember, challenges are just stepping stones to greatness, and every achievement—no matter how
                small—brings you closer to your goals. Believe in yourself, because you are capable of more than you can
                imagine.

                The journey is yours to conquer, and the stars are within your reach. Keep shining, keep striving, and
                never stop being curious, bold, and fearless.
                <br><br>
                <i class="">Your potential is infinite. Go be extraordinary!</i>
                <br><br>
                With pride in your journey, 
                <br>
                The Achiever’s Team

            </p>
            <a class="btn btn-outline-dark" href="{% url 'chore-home' %}">Back</a>
        </div>
    </div>
</div>
{% endblock %}