{% extends 'core/base.html' %}

<style>
    body {
        background-color: black;
        color: white;
    }
</style>
{% block content %}

<div class="container">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col">
            <h3> <i class="fa fa-times text-danger"></i> OOPs !!!!</h3> 
            <p>There is a currency mismatch. Making an investment requires that
                the savings account .....
            </p>        
        </div>
    </div>
</div>

{% endblock %}