{% extends 'core/base.html' %}
{% load static %}

{% block head %}
<style>
    .rows-sky {
        margin: 0;
        padding: 0;
        /* height: 100vh; */
        background-color: white;
        background-image: linear-gradient(skyblue, white, lightblue, skyblue, white);
        background-size: cover;
        /* Cover the entire background */
        /* overflow: hidden; */
    }

    .frame-circle {
        width: 300px;
        height: 300px;
        clip-path: circle(50%);
    }

    .red-circle {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: linear-gradient(to left, red, blue, green);
        margin-top: 10px;
    }

    .intro-box {
        font-family: 'Courier New', Courier, monospace;
        /* background-color: #000000; */
        /* color: white; */
        border-color: rgb(27, 26, 25);
        border-radius: 10% 25%;
        /* border-radius: 50% 20% / 10% 40%; */
    }

    .bg-grey {
        background-color: grey;
    }

    
</style>
{% endblock %}

{% block content %}
<div class="container-grid-row">
    <div class="rows-white mt-3 m-2">
        <div class="row">
            <div class="col-sm-6 intro-box">
                <div class="card mb-3">
                    <h4 class="text-center mt-3" style="font-size: 40px;">Uzo Tammy Nwokoro</h4>
                    <div class="row no-gutters">
                      <div class="col-md-4 d-flex ">
                        <img width="100%" class="thumbnail" src="{% static 'tammy.jpeg' %}" alt="">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="first-letter">
                                I had an undergraduate chemical engineering training. With over a decade experience in business operation,
                                sales and redistribution in the FMCG sector.
                            </h5>
                            <h5 class="first-letter">
                                Currently, I am working towards establishing a career in IT; backend development, web
                                developement, task automation, building API and a little bit of Cybersecurity training.
                            </h5>
                            <h5 class="first-letter">
                                My interest is to help businesses increase value with technology.
                            </h5>
                        </div>
                      </div>
                    </div>
                </div>
                <h5>I work with</h5>
                <div class="row mt-3">
                    <div class="col-sm-4">
                        <i class="fab fa-python text-warning"></i> Python
                    </div>
                    <div class="col-sm-4">
                        <i class="fab fa-java text-primary"></i> Java
                    </div>
                    <div class="col-sm-4">
                        <i class="fab fa-js text-warning"></i> Javascript
                    </div>
                    <div class="col-sm-4 mt-3">
                        <i class="fab fa-github text-secondary"></i> Git
                    </div>
                    <div class="col-sm-4 mt-3">
                        <i class="fab fa-bootstrap text-dark"></i> Bootstrap
                    </div>
                    <div class="col-sm-4 mt-3">
                        <i class="fab fa-react text-info"></i> React
                    </div>
                    <div class="col-sm-4 mt-3">
                        <i class="fab fa-microsoft"></i> Django
                    </div>
                    <div class="col-sm-4 mt-3">
                        <i class="fas fa-flask text-primary"></i> Flask
                    </div>
                    <div class="col-sm-4 mt-3">
                        <i class="fab fa-html5 text-info"></i> HTML5
                    </div>
                    <div class="col-sm-4 mt-3">
                        <i class="fab fa-microsoft text-warning"></i> Typescript
                    </div>
                    <div class="col-sm-4 mt-3">
                        <i class="fab fa-node text-dark"></i> Node
                    </div>
                    <div class="col-sm-4 mt-3">
                        <i class="fab fa-microsoft text-info"></i> Chakra
                    </div>
                </div>
            </div>

            <div class="col-sm-3 float-right">
                <div class="left-border-line">
                    <p class="first-letter">Problem Solving -
                        <small class="text-muted ml-1">
                            I am relentless in finding solutions,
                            staying on it no matter how long it takes.
                        </small>  
                    </p>
                    <p class="first-letter">Analytical -
                        <small class="text-muted ml-1">
                            I believe in data-driven decisions, 
                            using analysis and critical thinking to gain 
                            insights and drive impactful outcomes.
                        </small>
                    </p>
                    <p class="first-letter">Committed -
                        <small class="text-muted ml-1">True commitment means never accepting payment 
                            without delivering fully—because integrity is the foundation of every meaningful relationship.
                        </small>
                    </p>
                    <p class="first-letter">Team Player -
                        <small class="text-muted ml-1">
                            I thrive in collaborative environment; working together helps me become more productive.
                        </small></p>
                    <p class="first-letter">Always Learning - <small class="text-muted ml-1">I am continuously learning</small></p>
                </div>
                
                <!-- <div class="rounded-pill mb-3">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-primary">
                            On-going Courses 
                            <small class="float-right">Complete</small> 
                        </li>
                        <li class="list-group-item">GIT <sup class="rounded-circle bg-dark text-white p-1">R</sup> 
                            <span class="badge badge-primary float-right">25%</span>
                        </li>
                        <li class="list-group-item">React 
                            <span class="badge badge-primary float-right">5%</span>
                        </li>
                    </ul>

                </div> -->
            </div>

            <div class="col-sm-3 intro-box">
                <h3 class="mt-3">Portfolio</h3>
                <ul class="list-group">
                    <li class="list-group-item"><a class="text-decoration-none stretched-link" href="{% url 'portfolio-scush' %}">SCusH</a>: A custom web application for a business</li>
                    <li class="list-group-item"><a class="text-decoration-none" href="{% url 'portfolio-finuel' %}">Finuel</a>: Financial management application for non-profit
                        organisation</li>
                    <li class="list-group-item"><a class="text-decoration-none" href="{% url 'chore-home' %}">Chores</a>: Get young dependants to earn money doing chores at home </li>
                    <li class="list-group-item"><a class="text-decoration-none" href="{% url 'networth-home' %}">Networth</a>: Aggregating assets and liabilities of a user </li>
                    <li class="list-group-item"><a class="text-decoration-none" href="{% url 'tinyproject-home' %}">Hands-on Projects</a>: Projects
                        that emphasizes specific concept(s)</li>
                    <li class="list-group-item">
                        {% if user.is_authenticated %}
                        <div class="row">
                            <div class="col">
                                <form method="post"  action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-dark btn-sm">Logout</button>
                                </form>        
                            </div>
                            {% if user.is_superuser %}
                            <div class="col">
                                <a  class="btn btn-outline-dark btn-sm" 
                                    href="{% url 'activate-registration' %}">

                                    {% if activate_registration %}
                                    <i class="fa fa-toggle-on text-success"></i>
                                    {% else %}
                                    <i class="fa fa-toggle-on text-danger"></i>
                                    {% endif %}
                                    Register
                                </a>
                            </div>
                            {% endif %}
                        </div>
                        {% else %}
                        <span class="text-warning">Login credentials needed for this site</span>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="rows-black p-0">
        <div class="row bg-white m-0">
            <div class="col-sm">
                <a target="_blank"
                    href="https://www.linkedin.com/in/uzo-nwokoro-96013a55?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B1JdwKRxdQQqAKMvwHuqEKQ%3D%3D">
                    <i class="fab fa-linkedin text-primary"></i>
                </a> LinkedIn
            </div>
            <div class="col-sm"><a target="_blank"
                    href="https://www.tiktok.com/@uzotammy?is_from_webapp=1&sender_device=pc"><i
                        class="fab fa-tiktok"></i></a> TikTok</div>
            <div class="col-sm"><a target="_blank" href="https://www.x.com/UzoTammy"><i
                        class="fab fa-twitter text-primary"></i></a> Twitter</div>
            <div class="col-sm"><a target="_blank"
                    href="https://youtube.com/channel/UCrrUKGko2XorgKxa1iTrOFA"><i
                        class="fab fa-youtube text-danger"></i></a> YouTube</div>
            <div class="col-sm"><a target="_blank"
                    href="https://www.facebook.com/share/9TNh9xdWhoE6iJE3/?mibextid=qi2Omg"><i
                        class="fab fa-facebook text-primary"></i></a> Facebook</div>
            <div class="col-sm"> <a class="" href="mailto:uzo.tammy@gmail.com"><i class="fa fa-envelope text-muted">
                        uzo.tammy@gmail.com</i></a>

            </div>
        </div>
        {% if user.is_authenticated %}
        <a class="ml-2" href="{% url 'preference' %}"><i class="fa fa-cog"></i></a>
        {% endif %}
        <a class="m-2 mt-2" href="https://doc.uzonwokoro.com"><i class="fa fa-newspaper"></i> Documentation</a>
    </div>
</div>

{% endblock %}
