{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Tutorials</h1>
                <form action="" method="post">{% csrf_token %}
                    {{ formset.management_form }}
                    <fieldset>
                        {{formset|crispy}}
                    </fieldset>
                    <div class="">
                        <button class="btn btn-outline-dark" type="submit">Submit</button>
                    </div>
                </form>          
        </div>
    </div>
</div>

{% endblock %}