{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <h3>Learn SQL fast with PostgreSQL</h3>
            <p>
                Among the many SQLs like sqlite, MYSQL, MSSQL, Oracle and many more, PostgreSQL is a good choice to
                learn SQL for the following reasons:
                <ul>
                    <li>It is the most advanced free and open source relational database</li>
                    <li>It emphasizes extensibility and SQL compliance</li>
                    <li>It is supported by all major operating systems</li>
                    <li>It handles a range of workloads from single machines 
                        to data warehouses or web services with many concurrent users.</li>
                </ul>
            </p>
            <h4>Learning Strategy</h4> 
            <p>I am motivated to publish the site not to add to already saturated contents on SQL but to introduce a unique METHOD
                of learning that worked for me which i confidently believe will work for you as well, especially if you thought
                of wishing for a different pathway to learning. To understand my approach, 
                <a href="https://www.evernote.com/shard/s233/sh/aa1c0821-5bb3-157c-8b4c-c5b1c2f4d627/iR0sxnejbGRZuYELKyQzS9_n2ab8HVw6xJoHZa0LlJdboVLB0ZyvWbhysA" target="_blank">click here</a>.
            </p>
            
        </div>
    </div>
    <div class="row align-items-center justify-content-center vh-80">
        <div class="col">
            <table class="table">
                <legend>CREATE Database Objects</legend>
                <hr>
                <tbody>
                  <tr>
                    <td><a href="https://www.evernote.com/shard/s233/sh/a081a613-4c4b-1b96-966b-3b22455aa494/NSTMMDLAkoVWwbwuzh5jqTsQz8_4bpzJpNPsyMfzRPx5K_bBiZ-cGbZtsg" target="_blank">DATABASE</a></td>
                    <td><a href="https://www.postgresqltutorial.com/postgresql-tutorial/postgresql-create-table/" target="_blank">TABLE</a></td>
                    <td><a href="https://www.evernote.com/shard/s233/sh/ca81a657-3dc2-000c-cbbf-7791fb020502/K19fHzmVyi0MDkw1J_wdQPDxRWVDyV_NCBlsgVWYfWowpJS7Jm9kA2OzlA" target="_blank">SCHEMA</a></td>
                    <td><a href="https://www.evernote.com/shard/s233/sh/fdf0b005-a58a-d0c8-2629-f63ef3f02d39/191vctEqSbnshaHiAEdvbb9obVzv5uSTFXWHBu0II1xzFKKBPF--bdCBsg" target="_blank">SEQUENCE</a></td>
                  </tr>
                  <tr>
                    <td><a href="https://www.evernote.com/shard/s233/sh/133d849e-7ca6-c7c0-5300-3075f0a9ac33/agtjThFr2WcE1d9gcq4nsaRPXQZHg-OMjW1EAyVLQya_g3EABxeuAm1xgw" target="_blank">INDEX</a></td>
                    <td><a href="">VIEW</a></td>
                    <td><a href="">USER</a></td>
                    <td><a href="">ROLE</a></td>
                  </tr>
                  <tr>
                    <td><a href="">TRIGGER</a></td>
                    <td><a href="https://www.evernote.com/shard/s233/sh/f394971e-37b8-f9b8-0b6d-7e4cca80e042/8Dwwsvw7N20I30751TO_6prQ1vJRmGTBqzJB4I9FaXBSSCEV6Quvp842Ow" target="_blank">FUNCTION</a></td>
                    <td><a href="">PROCEDURE</a></td>
                    <td><a href="">DOMAIN</a></td>
                  </tr>
                  <tr>
                    <td><a href="">TYPE</a></td>
                    <td><a href="">AGGREGATE</a></td>
                    <td><a href="">TABLESPACE</a></td>
                    <td><a href="">EXTENSION</a></td>
                  </tr>
                  <tr>
                    <td><a href="">SERVER</a></td>
                    <td><a href="">PUBLICATION</a></td>
                    <td><a href="">SUBSCRIPTION</a></td>
                    <td><a href="">COLLATION</a></td>
                  </tr>
                  <tr>
                    <td><a href="">FOREIGN TABLE</a></td>
                    <td><a href="">FOREIGN DATA WRAPPER</a></td>
                    <td><a href="">USER MAPPING</a></td>
                    <td><a href="">MATERIALIZED VIEW</a></td>
                  </tr>
                  <tr>
                    <td><a href="">CAST</a></td>
                    <td><a href="">OPERATOR</a></td>
                    <td><a href="">OPERATOR CLASS</a></td>
                    <td><a href="">OPERATOR FAMILY</a></td>
                  </tr>
                  <tr>
                    <td><a href="">TEXT SEARCH CONFIGURATION</a></td>
                    <td><a href="">TEXT SEARCH DICTIONARY</a></td>
                    <td><a href="">TEXT SEARCH PARSER</a></td>
                    <td><a href="">TEXT SEARCH TEMPLATE</a></td>
                  </tr>
                  <tr>
                    <td><a href="">TRANSFORM</a></td>
                    <td><a href="">ACCESS METHOD</a></td>
                    <td><a href="">EVENT TRIGGER</a></td>
                    <td><a href="">GROUP</a></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
{% endblock %}