{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <h3>Learn SQL fast with PostgreSQL</h3>
            <p>
                Among the many SQLs like sqlite, MYSQL, MSSQL, Oracle and many more, PostgreSQL is a good choice to
                learn SQL for the following reasons:
                <ul>
                    <li>- It is the most advanced free and open source relational database</li>
                    <li>- It emphasizes extensibility and SQL compliance</li>
                    <li>- It is supported by all major operating systems</li>
                    <li>- It handles a range of workloads from single machines 
                        to data warehouses or web services with many concurrent users.</li>
                </ul>
            </p>
            <h4>Learning Strategy</h4> 
            <p>The motivation to publish this note is not to queue behind the already saturated contents on SQL but to introduce a unique method
                of learning that worked for me which I confidently believe will work for you as well, especially if you thought
                of wishing for a different pathway to learning. To understand my approach, 
                <a href="https://www.evernote.com/shard/s233/sh/aa1c0821-5bb3-157c-8b4c-c5b1c2f4d627/iR0sxnejbGRZuYELKyQzS9_n2ab8HVw6xJoHZa0LlJdboVLB0ZyvWbhysA" target="_blank">click here</a>.
            </p>
            <h4>Basic and General</h4>
            <p>
              Postgres has got some commands to help with exploration of the language. They are categorized as follows:<br>
              - General:
              <a href="">\copyright</a> | 
              <a href="">\crosstabview</a> | 
              <a href="">\g</a> | \q - to quit <br>
              - Help: 
              To list a comprehensive list of commands - \? | To display help for stated command - \h [command]
              
        
            </p>
        </div>
    </div>
    <h3 class="mb-3">CREATE POSTGRESQL Objects</h3>
    <div class="container px-lg-5 bg-dark">
      
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mx-lg-n5">
        <div class="col py-3 px-lg-5 border bg-light"><a href="https://www.evernote.com/shard/s233/sh/a081a613-4c4b-1b96-966b-3b22455aa494/NSTMMDLAkoVWwbwuzh5jqTsQz8_4bpzJpNPsyMfzRPx5K_bBiZ-cGbZtsg" target="_blank">DATABASE</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="https://www.evernote.com/shard/s233/sh/ca81a657-3dc2-000c-cbbf-7791fb020502/K19fHzmVyi0MDkw1J_wdQPDxRWVDyV_NCBlsgVWYfWowpJS7Jm9kA2OzlA" target="_blank">SCHEMA</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="https://www.evernote.com/shard/s233/sh/9ac0e4bd-7cff-5168-7fce-4bcba8b8e5a4/2ZYO0idi9V2x4whj4dQ2v_nrWNgv7SOjq8nfVShhRcEVvBh5eeVtxxY4rQ" target="_blank">TABLE</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="https://www.evernote.com/shard/s233/sh/fdf0b005-a58a-d0c8-2629-f63ef3f02d39/191vctEqSbnshaHiAEdvbb9obVzv5uSTFXWHBu0II1xzFKKBPF--bdCBsg" target="_blank">SEQUENCE</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="https://www.evernote.com/shard/s233/sh/133d849e-7ca6-c7c0-5300-3075f0a9ac33/agtjThFr2WcE1d9gcq4nsaRPXQZHg-OMjW1EAyVLQya_g3EABxeuAm1xgw" target="_blank">INDEX</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="https://www.evernote.com/shard/s233/sh/371e501b-2f7a-0e75-e8c2-101a6f1aa18f/TVqo4AAiK622iIMp2dSwNfXATFNIh6GQAAY1WwXP0PvTlXoMgHtelTXuwQ" target="_blank">VIEW</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="https://www.evernote.com/shard/s233/sh/8d5d7171-20de-64c5-de2f-2b60731e65e0/pVDYAyZwDKv68HXUz5oob5MexYs7-3f27Tu5fOxrh4yxRnc7AYUOiR-2Sg" target="_blank">USER</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="https://www.evernote.com/shard/s233/sh/8d5d7171-20de-64c5-de2f-2b60731e65e0/pVDYAyZwDKv68HXUz5oob5MexYs7-3f27Tu5fOxrh4yxRnc7AYUOiR-2Sg" target="_blank">ROLE</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="https://www.evernote.com/shard/s233/sh/78603afb-28ad-53b1-6477-6e42da3858dd/Z5iy2VgSGED7dBHJ1BgAGctffFI9jHPv6MLFH2MAh-4Sosmstes0YhpiEg" target="_blank">TRIGGER</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="https://www.evernote.com/shard/s233/sh/f394971e-37b8-f9b8-0b6d-7e4cca80e042/8Dwwsvw7N20I30751TO_6prQ1vJRmGTBqzJB4I9FaXBSSCEV6Quvp842Ow" target="_blank">FUNCTION</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="https://www.evernote.com/shard/s233/sh/ceb3fe1b-f8ec-3416-1cb1-dc845fda93ce/7n2Lybjg56wl5HWRCU0mwgDJswXUxhTHgnGd6oby85Aykbh0w0DsoKIJcQ" target="_blank">PROCEDURE</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="https://www.evernote.com/shard/s233/sh/7489c7aa-bb5c-5aa7-560d-f7361f86bf84/aHJiNC9JpLGQJtDobT20vq3J4FpfsYfXq1HJqWQk1yHs6CIFwwfv19CJuQ" target="_blank">DOMAIN</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="https://www.evernote.com/shard/s233/sh/a7a2e831-7b7f-ff0f-0870-87f20fc91f95/tvv5ch0GAxtosNTkRcrMMbkSHSbt1H98mR6yG3TI-VosatJOpml-wlJJXA" target="_blank">TYPE</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="https://www.evernote.com/shard/s233/sh/d26cd62b-08d9-39d2-4070-ad57bf951f17/4JQkIefieXjq7hFLOaEjjk0Xp8KM4uPOkJ_C9AozrABenNi2dpR7R4VV4Q" target="_blank">AGGREGATE</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="https://www.evernote.com/shard/s233/sh/8e485fef-875b-3470-9d91-bb27b33b6232/YMimOAyBkrsFzZ4tKCofEi6jRFbOEkJxtArRJcaUxt6WrbYjmwbz6PDdqQ" target="_blank">TABLESPACE</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="">EXTENSION</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="https://www.evernote.com/shard/s233/nl/31019739/7e220f11-b129-3771-fe29-c55681df7a9d?title=SERVER" target="_blank">SERVER</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="https://www.evernote.com/shard/s233/sh/32fb7b8f-b383-7fe1-68f6-feabbed279f6/w51xSH8ZxHO5yCKx15nrPok7Oc4Wy0s9x9jC_YsQq4LPm2-F9rCmggzZow" target="_blank">PUBLICATION</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="https://www.evernote.com/shard/s233/sh/32fb7b8f-b383-7fe1-68f6-feabbed279f6/w51xSH8ZxHO5yCKx15nrPok7Oc4Wy0s9x9jC_YsQq4LPm2-F9rCmggzZow" target="_blank">SUBSCRIPTION</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="https://www.evernote.com/shard/s233/sh/609bdebb-5858-4a22-3cca-8e3cbf6affd2/rNIReKz22cUGvLgHRmdfTAGEjCuwYeM2P2wqLSViW0J_K6XRqm4DXwidDA" target="_blank">COLLATION</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="">FOREIGN TABLE</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="">FOREIGN DATA WRAPPER</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="">USER MAPPING</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="">MATERIALIZED VIEW</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="">CAST</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="">OPERATOR</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="">OPERATOR CLASS</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="">OPERATOR FAMILY</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="">TEXT SEARCH CONFIGURATION</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="">TEXT SEARCH DICTIONARY</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="">TEXT SEARCH PARSER</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="">TEXT SEARCH TEMPLATE</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="">TRANSFORM</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="">ACCESS METHOD</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="">EVENT TRIGGER</a></div>
        <div class="col py-3 px-lg-5 border bg-light"><a href="">GROUP</a></div>
        
      </div>
    </div>
    
</div>
<div class="rows-black"></div>
{% endblock %}