{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <h3>Learn SQL with PostgreSQL fast</h3>
            <p>
                Structured Query Language (SQL) has been around for many decades and Postgres the open source, most versatile
                and extensive SQL will be a good pick among many to learn SQL. Learning SQL will boost your profile as a developer 
                and much more as a data administrator.
            </p>
            <h4>Learning Strategy</h4> 
            <p>To gain skills, learning fast and retenting what you have learnt are very important if you will confident that
                the time invested in studying a subject is worth it.
            </p>
            <p>Structured learning is essential if you must develop yourself properly. Therefore, I have organised this course
                in what I term body of knowledge based on personal experience.
            </p>
            <p>If you must learn something big and extensive, why dont you group similar body of knowledge together and keep 
                going that way you have the opportunity to take the previous learning into the present learning, also you will
                have the opportunity to practice and as they say practice makes perfect.
            </p>
            <p>
                I have identified that the best strategy to learn database is to categorized it based on these key actions
                in database CREATE, DROP, ALTER, INSERT and 
            </p>
        </div>
    </div>
    <div class="row align-items-center justify-content-center vh-80">
        <div class="col">
            <table class="table">
                <legend>CREATE Database Objects</legend>
                <hr>
                <tbody>
                  <tr>
                    <td><a href="https://www.evernote.com/shard/s233/sh/a081a613-4c4b-1b96-966b-3b22455aa494/NSTMMDLAkoVWwbwuzh5jqTsQz8_4bpzJpNPsyMfzRPx5K_bBiZ-cGbZtsg">DATABASE</a></td>
                    <td><a href="https://www.postgresqltutorial.com/postgresql-tutorial/postgresql-create-table/" target="_blank">TABLE</a></td>
                    <td><a href="https://www.evernote.com/shard/s233/sh/ca81a657-3dc2-000c-cbbf-7791fb020502/K19fHzmVyi0MDkw1J_wdQPDxRWVDyV_NCBlsgVWYfWowpJS7Jm9kA2OzlA" target="_blank">SCHEMA</a></td>
                    <td><a href="https://www.evernote.com/shard/s233/sh/fdf0b005-a58a-d0c8-2629-f63ef3f02d39/191vctEqSbnshaHiAEdvbb9obVzv5uSTFXWHBu0II1xzFKKBPF--bdCBsg" target="_blank">SEQUENCE</a></td>
                  </tr>
                  <tr>
                    <td><a href="https://www.evernote.com/shard/s233/sh/133d849e-7ca6-c7c0-5300-3075f0a9ac33/agtjThFr2WcE1d9gcq4nsaRPXQZHg-OMjW1EAyVLQya_g3EABxeuAm1xgw" target="_blank">INDEX</a></td>
                    <td><a href="">VIEW</a></td>
                    <td><a href="">USER</a></td>
                    <td><a href="">ROLE</a></td>
                  </tr>
                  <tr>
                    <td><a href="">TRIGGER</a></td>
                    <td><a href="">FUNCTION</a></td>
                    <td><a href="">PROCEDURE</a></td>
                    <td><a href="">DOMAIN</a></td>
                  </tr>
                  <tr>
                    <td><a href="">TYPE</a></td>
                    <td><a href="">AGGREGATE</a></td>
                    <td><a href="">TABLESPACE</a></td>
                    <td><a href="">EXTENSION</a></td>
                  </tr>
                  <tr>
                    <td><a href="">SERVER</a></td>
                    <td><a href="">PUBLICATION</a></td>
                    <td><a href="">SUBSCRIPTION</a></td>
                    <td><a href="">COLLATION</a></td>
                  </tr>
                  <tr>
                    <td><a href="">FOREIGN TABLE</a></td>
                    <td><a href="">FOREIGN DATA WRAPPER</a></td>
                    <td><a href="">USER MAPPING</a></td>
                    <td><a href="">MATERIALIZED VIEW</a></td>
                  </tr>
                  <tr>
                    <td><a href="">CAST</a></td>
                    <td><a href="">OPERATOR</a></td>
                    <td><a href="">OPERATOR CLASS</a></td>
                    <td><a href="">OPERATOR FAMILY</a></td>
                  </tr>
                  <tr>
                    <td><a href="">TEXT SEARCH CONFIGURATION</a></td>
                    <td><a href="">TEXT SEARCH DICTIONARY</a></td>
                    <td><a href="">TEXT SEARCH PARSER</a></td>
                    <td><a href="">TEXT SEARCH TEMPLATE</a></td>
                  </tr>
                  <tr>
                    <td><a href="">TRANSFORM</a></td>
                    <td><a href="">ACCESS METHOD</a></td>
                    <td><a href="">EVENT TRIGGER</a></td>
                    <td><a href="">GROUP</a></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
{% endblock %}