{% extends 'core/base.html' %}
{% load custom_tag %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-sm-8">
            <h3>{{object}}</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Name<span class="float-right">{{object.name}}</span></li>
                <li class="list-group-item">Capital<span class="float-right">{{object.capital}}</span></li>
                <li class="list-group-item">Shares<span class="float-right">{{object.shares}}</span></li>
                <li class="list-group-item">Unit Cost<span class="float-right">{{object.unit_cost}}</span></li>
                <li class="list-group-item">Host Country<span class="float-right">{{object.host_country}}</span></li>
                \<li class="list-group-item">Start Date<span class="float-right">{{object.date.date}}</span></li>
                <hr>
              </ul>
            <div class="row">
                <div class="col">
                    <a class="btn btn-outline-dark" href="{% url 'networth-business-update' object.pk %}">Update</a>
                    
                    <a class="btn btn-outline-dark float-right" href="{% url 'networth-home' %}">Back</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}