{% extends 'core/base.html' %}

{% load custom_tag %}
{% block head %}
<style>

</style>
{% endblock %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
        </div>
        <div class="navbar-nav">
            <a class="nav-link" href="{% url 'networth-home'%}"><i class="fa fa-times-circle text-danger"></i></a>
        </div>

    </div>
</nav>

<div class="container mt-5 font-weight-lighter">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Base Networth <span class="float-right">{{base_networth}}</span></li>
                <li class="list-group-item">Base Daily ROI <span class="float-right">{{base_daily_roi}}</span></li>
                <li class="list-group-item">Projected Networth <span class="float-right">{{projected_networth}}</span></li>
                <li class="list-group-item">Projected Growth <span class="float-right">{{projected_growth}}</span></li>
            </ul>
        </div>
        <div class="col-sm-6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Actual Networth <span class="float-right">{{year_end_networth}}</span></li>
                {% if growth.amount > 0 %} <li class="list-group-item">Growth <span
                        class="float-right">{{growth}}</span></li>
                    <li class="list-group-item">Growth Rate <span class="float-right">{{growth_rate}}%</span></li>
                    {% else %}
                    <li class="list-group-item text-danger">Loss <span
                            class="float-right">{{growth|scalar_value}}</span></li>
                    <li class="list-group-item">Loss Rate <span class="float-right">{{growth_rate|scalar_value}}%</span>
                    </li>
                    {% endif %}
            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-4">
            <div>
                <img class="img-fluid w-60" src="data:image/png;base64,{{ networth_image|safe }}"
                    alt="Weekly Networth trend line plot">
            </div>
            <div>
                <p class="card-text">Daily Networth Trend</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <img class="img-fluid w-60" src="data:image/png;base64,{{ asset_location|safe }}"
                    alt="Networth distribution by country donut chart">
                <div>
                    <p class="card-text">Networth Distribution By Country</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="">
                <img class="img-fluid w-60" src="data:image/png;base64,{{ daily_roi_image|safe }}"
                alt="Daily ROI trend line plot">
                <div class="">
                    <p>Exchage Rates trend</p>
                </div>
            </div>
        </div>
    </div>

    <h4 class="mt-3">Annual Investment Turnover and ROI is USD</h4>
    <div class="row mt-3">

        {% for item in ytd_roi.items %}
        <div class="col-sm-6">
            <table class="table table-striped table-sm">
                
                <thead class="">
                    <tr>
                        <th colspan="4" class="text-center">{{ytd_roi.keys|get_item:forloop.counter0}}</th>
                    </tr>
                    <tr>
                        <th>Period</th>
                        <th class="text-right">Investment</th>
                        <th class="text-right">ROI</th>
                        <th class="text-right">%</th>
                    </tr>
                </thead>
                <tbody>
                    {% if ytd_roi_next %}
                    <tr>
                        <td>Next year</td>
                        {% for key, investment in ytd_roi_next.items %}
                            {% if key == ytd_roi_next.keys|get_item:forloop.parentloop.counter0 %}
                            <td class="text-right">{{investment.principal.amount|floatformat:2}}</td>
                            <td class="text-right">{{investment.roi.amount|floatformat:2}}</td>
                            <td class="text-right">{{investment.percent}}</td>
                            {% endif %}
                        {% endfor %}
                    <tr>
                    {% endif %}

                    {% if ytd_roi %}
                    <tr>
                        <td>Current year</td>
                        {% for key, investment in ytd_roi.items %}
                            {% if key == ytd_roi.keys|get_item:forloop.parentloop.counter0 %}
                            <td class="text-right">{{investment.principal.amount|floatformat:2}}</td>
                            <td class="text-right">{{investment.roi.amount|floatformat:2}}</td>
                            <td class="text-right">{{investment.percent}}</td>
                            {% endif %}
                        {% endfor %}
                    <tr>
                    {% endif %}
                    
                    {% if ytd_roi_prev %}
                    <tr>
                        <td>Previous year</td>
                        {% for key, investment in ytd_roi_prev.items %}
                            {% if key == ytd_roi_prev.keys|get_item:forloop.parentloop.counter0 %}
                            <td class="text-right">{{investment.principal.amount|floatformat:2}}</td>
                            <td class="text-right">{{investment.roi.amount|floatformat:2}}</td>
                            <td class="text-right">{{investment.percent}}</td>
                            {% endif %}
                        {% endfor %}
                    <tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        {% endfor %}
        <!-- Tital -->
        <div class="col-sm-6">
            <table class="table table-striped table-sm">
                
                <thead>
                    <tr>
                        <th colspan="4" class="text-center">Total</th>
                    </tr>
                    <tr>
                        <th>Period</th>
                        <th class="text-right">Investment</th>
                        <th class="text-right">ROI</th>
                        <th class="text-right">%</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Next year</td>
                        <td class="text-right">{{ytd_roi_total_next_year.principal|floatformat:'2g'}}</td>
                        <td class="text-right">{{ytd_roi_total_next_year.roi|floatformat:'2g'}}</td>
                        <td class="text-right">{{ytd_roi_total_next_year.percent|floatformat:'2g'}}</td>
                    <tr>

                    <tr>
                        <td>Current year</td>
                        <td class="text-right">{{ytd_roi_total_current_year.principal|floatformat:'2g'}}</td>
                        <td class="text-right">{{ytd_roi_total_current_year.roi|floatformat:'2g'}}</td>
                        <td class="text-right">{{ytd_roi_total_current_year.percent|floatformat:'2g'}}</td>
                    <tr>
                    
                    <tr>
                        <td>Previous year</td>
                        <td class="text-right">{{ytd_roi_total_prev_year.principal|floatformat:'2g'}}</td>
                        <td class="text-right">{{ytd_roi_total_prev_year.roi|floatformat:'2g'}}</td>
                        <td class="text-right">{{ytd_roi_total_prev_year.percent|floatformat:'2g'}}</td>
                    <tr>
                </tbody>
            </table>
        </div>
    </div>
   
</div>
{% endblock %}