{% extends 'core/base.html' %}

{% load custom_tag %}

{% block head %}
<style>
  
</style>
{% endblock %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top ">
  <a class="navbar-brand" href="#">Networth</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="{% url 'index' %}"><i class="fa fa-home text-info"></i> Home <span
          class="sr-only">(current)</span></a>
      <a class="nav-link" href="#"><i class="fa fa-user text-primary"></i> {{user.username}}</a>
      <a class="nav-link" href="{% url 'pdf-networth' %}" target="_blank"><i class="fa fa-file-pdf text-danger"></i> PDF</a>
    </div>

  </div>
</nav>


<div class="container mt-5">
  <div class="row p-2">
    <div class="col font-weight-lighter">
      <small class="text-monospace text-muted">{{exchange}}. {{naira_value_comment}}</small>
    </div>
  </div>

  {% if fd %}
  <div class="row mt-2">
    <div class="col-sm-4">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Networth <span class="float-right">{{fd.worth}}</span></li>
        <li class="list-group-item font-weight-lighter"><a href="{% url 'savings-list' %}">Saving</a> <span
            class="float-right text-success">{{fd.savings}}</span></li>
        <li class="list-group-item font-weight-lighter"><a href="{% url 'investment-list' %}">Investment</a><span
            class="float-right text-success">{{fd.investment}}</span></li>
        <li class="list-group-item font-weight-lighter"><a href="{% url 'stock-list' %}">Stock</a> <span
            class="float-right text-success">{{fd.stock}}</span></li>
        <li class="list-group-item font-weight-lighter"><a href="{% url 'business-list' %}">Business</a><span
            class="float-right text-success">{{fd.business}}</span></li>
        <li class="list-group-item font-weight-lighter"><a href="{% url 'fixed-asset-list' %}">Fixed Asset</a> <span
            class="float-right text-success">{{fd.fixed_asset}}</span></li>
        <li class="list-group-item font-weight-lighter"><a href="{% url 'liability-list' %}">Liability</a> <span
            class="float-right text-danger">{{fd.liability}}</span></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <div class="">
        <img class="img-fluid img-thumbnail w-60" src="data:image/png;base64,{{ donot_networth|safe }}" alt="Networth distribution donot plot">

        <ul class="list-group list-group-flush font-weight-lighter">
          <li class="list-group-item">{{number_of_instruments|first}} instruments out of
          {{number_of_instruments|last}} Assets</li>
          {% if reward %}
          <li class="list-group-item">YTD Reward <span class="float-right">{{reward}}</span></li>
          {% endif %}
        </ul>
        
      </div>
    </div>
    <div class="col-sm-4">
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-light">Networth by country</li>
        {% for country, worth in fd.networth_by_country.items %}
        <li class="list-group-item font-weight-lighter">{{country}} <span
            class="float-right">${{worth|floatformat:'2g'}}</span></li>
        {% endfor %}
        <li class="list-group-item list-group-item-light">Networth by currency (in usd)</li>
        {% for worth in networth_by_currency %}
        <li class="list-group-item font-weight-lighter">{{worth.currency}} <span
            class="float-right">{{worth.value_usd}}</span></li>
        {% endfor %}
        
      </ul>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-sm-4">
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-light">Active investment parameters</li>
        <li class="list-group-item font-weight-lighter">Earnable
          <a class="badge badge-info" data-toggle="tooltip" data-html="true"
            title='Possible earnings from active investment(s). What you could earn if all current investments are to run completely'
            href=""><i class="fa fa-info fa-sm"></i>
          </a>
          <span class="float-right">{{fd.roi}}</span>

        </li>
        <li class="list-group-item font-weight-lighter">Earning

          <a class="badge badge-info" data-toggle="tooltip" data-html="true"
            title='Present accrued earnings from active investments. What you have earned as of today' href=""><i
              class="fa fa-info fa-sm"></i>
          </a>

          <span class="float-right">{{fd.present_roi}}</span>
        </li>
        <li class="list-group-item font-weight-lighter">Daily ROI<span class="float-right">{{fd.daily_roi}}</span></li>
        <li class="list-group-item font-weight-lighter">Lifespan<span class="float-right">{{fd.roi|divide:fd.daily_roi}}
            days</span></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <div class="">
        <img class="img-fluid img-thumbnail w-60" src="data:image/png;base64,{{ plot_investment_earnings|safe }}" alt="Year earnings">
      </div>
    </div>
    <div class="col-sm-4">
      <table class="table table-sm table-light table-striped font-weight-lighter" data-toggle="table">
        <legend class="font-weight-lighter">Recent Transactions</legend>
        <thead>
          <tr>
            <td>Transaction</td>
            <td>Date</td>
            <td class="text-right">Value</td>
          </tr>
        </thead>
        <tbody>
          {% for transaction in recent_transactions %}
          <tr>
            {% for param in transaction %}
            {% if forloop.counter == 3 %}
            <td class=" text-right">{{param}}</td>
            {% else %}
            <td>{{param}}</td>
            {% endif %}
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-6 font-weight-lighter">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h5 class="font-italic"><i class="fa fa-paperclip text-info"></i> Currency Ratio</h5>
        </li>
        <li class="list-group-item">
          {% if currency_pair %}
            {{currency_pair.country}} CR: {{currency_pair.local}} : {{currency_pair.usd}},(i.e. {{currency_pair.equilibrium}} to 1) 
          {% else %}
            No US dollar asset in the chosen country
          {% endif %}
        </li>
      </ul>
    </div>
    
  </div>

  <div class="row mb-3">
    <div class="col ml-3 font-weight-lighter">
      <a href="{% url 'networth-dashboard' %}">Continue to view more analysis <i class="fa fa-tachometer-alt"></i> </a>
    </div>
  </div>
  {% else %}


  <div class="row mt-3">
    <div class="col">
      <h4>Hello {{user.username}}</h4>
      <h1 class="font-italic">You have no Financial Record</h1>
      <p class="text-muted">Note: if you create or update an asset, you will not notice the change until end of the day.
      </p>
    </div>
  </div>
  {% endif %}


{% endblock %}