{% extends 'core/base.html' %}

{% block head %}
<style>
  .jumbotron {
    background-color: rgb(204, 220, 234);
    border-radius: 10% 10% 3% 3%;
  }
</style>
{% endblock %}
{% block content %}
<div class="container mt-3">
  {% if fd %}
  <div class="jumbotron jumbotron-fluid jumbotron-beige">
    <div class="container">
      <h4 class="font-italics float-right mr-2">Owner: {{user.username}}</h4>
      <h1 class="display-4">Networth</h1>
      <small class="ml-3">As at {{fd.date}}</small>
      <a class="float-right mr-3" href="{% url 'networth-dashboard' %}"><i class="fa fa-tachometer-alt"></i>
      </a>
      <a class="float-right mr-3 text-info" href="{% url 'pdf-networth' %}"><i class="fa fa-file-pdf"></i></a>
      <a class="float-right mr-3" href="{% url 'institution-report' %}"><i class="fa fa-table"></i>
      </a>
      </small>
      <div class="row">
        <div class="col-sm-4">
          <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-info">Networth <span class="float-right">{{fd.worth}}</span></li>
            <li class="list-group-item list-group-item-primary">Earnable <span class="float-right">{{fd.roi}}</span>
            </li>
            <li class="list-group-item list-group-item-primary">Current Earning <span
                class="float-right">{{fd.present_roi}}</span></li>
            <li class="list-group-item list-group-item-primary">Daily ROI<span
                class="float-right">{{fd.daily_roi}}</span></li>
          </ul>
        </div>

        <div class="col-sm-4">
          <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-primary">Saving <span class="float-right">{{fd.savings}}</span>
            </li>
            <li class="list-group-item list-group-item-primary">Investment
              <span class="float-right">{{fd.investment}}</span>
            </li>
            <li class="list-group-item list-group-item-primary">Stock <span class="float-right">{{fd.stock}}</span></li>
            <li class="list-group-item list-group-item-primary">Business <span
                class="float-right">{{fd.business}}</span></li>
          </ul>
        </div>

        <div class="col-sm-4">
          <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-primary">Fixed Asset <span
                class="float-right">{{fd.fixed_asset}}</span></li>
            <li class="list-group-item list-group-item-danger">Liability <span
                class="float-right">{{fd.liability}}</span></li>
            {% for country, worth in fd.networth_by_country.items %}
            <li class="list-group-item list-group-item-primary">Networth ({{country}}) <span
                class="float-right">${{worth|floatformat:'2g'}}</span></li>
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <small class="text-muted ml-2">{{exchange}}.
        {{naira_value_comment}}
      </small>
    </div>

  </div>
  {% else %}
  <div class="row mt-3">
    <div class="col">
      <h4>Hello {{user.username}}</h4>
      <h1 class="font-italic">You have no Financial Record</h1>
      <p class="text-muted">Note: if you create or update an asset, you will not notice the change until end of the day.
      </p>
    </div>
  </div>
  {% endif %}

  <div class="row mt-3">
    <div class="col-sm-6">
      <table class="table table-sm table-light table-striped" data-toggle="table">
        <legend class="text-italic">Recent Transactions</legend>
        <thead>
          <tr>
            <th>Transaction</th>
            <th>Date</th>
            <th class="text-right">Value</th>
          </tr>
        </thead>
        <tbody>
          {% for transaction in recent_transactions %}
          <tr>
            {% for param in transaction %}
              <td class="{% if forloop.counter == 3 %} text-right {% endif %}">{{param}}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <nav>
    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-savings-tab" data-toggle="tab" data-target="#savings" type="button"
        role="tab" aria-controls="savings" aria-selected="true"><span
          class="text-info font-italic">Savings</span></button>
      <button class="nav-link" id="nav-investment-tab" data-toggle="tab" data-target="#investment" type="button" role="tab"
        aria-controls="investment" aria-selected="false"><span class="text-info font-italic">Investment</span></button>
      <button class="nav-link" id="nav-stock-tab" data-toggle="tab" data-target="#stock" type="button" role="tab"
        aria-controls="stock" aria-selected="false"><span class="text-info font-italic">Stock</span></button>
      <button class="nav-link" id="nav-business-tab" data-toggle="tab" data-target="#business" type="button" role="tab"
        aria-controls="business" aria-selected="false"><span class="text-info font-italic">Business</span></button>
      <button class="nav-link" id="nav-fixed-asset-tab" data-toggle="tab" data-target="#fixed_asset" type="button"
        role="tab" aria-controls="fixed_asset" aria-selected="false"><span class="text-info font-italic">Fixed
          Asset</span></button>
      <button class="nav-link" id="nav-liabilities-tab" data-toggle="tab" data-target="#liabilities" type="button"
        role="tab" aria-controls="liabilities" aria-selected="false"><span class="dark-purple font-italic">
          Liability</span>
        </button>

      <button class="nav-link" id="nav-outlook-tab" data-toggle="tab" data-target="#outlook" type="button"
        role="tab" aria-controls="outlook" aria-selected="false"><span class="text-primary font-italic">
          Outlook</span>
        </button>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade show active" id="savings" role="tabpanel" aria-labelledby="nav-savings-tab">
      <div class="row justify-content-center mt-3 shadow">
        <div class="col-sm-12">

          <div class="row">
            <div class="col">
              <h5 class="font-italic"><i class="fa fa-paperclip text-primary"></i> Savings ({{savings.count}})</h5>
            </div>
            <div class="col float-right">
              <ul class="list-group list-group-horizontal list-group-flush">
                  <a class="list-group-item list-group-item-action" href="{% url 'networth-saving-create' %}">
                    <i class="fa fa-plus text-success"></i> Add
                  </a>
                
                <a class="list-group-item list-group-item-action" href="{% url 'networth-external-fund-home' %}">
                    <i class="fa fa-arrow-right text-success"></i>
                    <i class="fas fa-external-link-alt text-success"></i> Ext
                  </a>
                
                  <a class="list-group-item list-group-item-action" href="{% url 'saving-counter-transfer' %}">
                    <i class="fa fa-arrow-right text-success"></i><i class="fa fa-arrow-left text-danger"></i>
                    Xfer
                  </a>
                  <a class="list-group-item list-group-item-action" href="{% url 'saving-conversion' %}">
                    <i class="fa fa-arrows-alt text-success"></i> Conv
                  </a>
              </ul>
            </div>
          </div>

          <div class="row mb-3">
            {% if savings %}
            <div class="col-sm-8">
              <table class="table">
                <thead>
                  <tr>
                    <th>Holder</th>
                    <th>Date</th>
                    <th class="text-center">Host Country</th>
                    <th class="text-center">Value</th>
                  </tr>
                </thead>
                <tbody>
                  {% for saving in savings %}
                  <tr>
                    <td><a href="{% url 'networth-saving-detail' saving.pk %}">{{saving.holder}}</a></td>
                    <td>{{saving.date}}</td>
                    <td class="text-center">{{saving.host_country}}</td>
                    <td class="text-right">{{saving.value}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="col-sm-4">
              <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  {% for saving in savings_total %}
                  <li class="list-group-item"> {{saving.currency}}
                    <span class="float-right">{{saving}}</span>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            {% else %}
            <div class="row">
              <div class="col">
                <p class="font-italic ml-3">No Savings</p>
                <a class="btn btn-outline-primary ml-3" href="{% url 'networth-saving-create' %}">
                  Add Savings
                </a>
              </div>
            </div>

            {% endif %}
          </div>

        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="investment" role="tabpanel" aria-labelledby="nav-investment-tab">
      <div class="row justify-content-center mt-3 shadow">
        <div class="col-sm-12">
          <h5 class="font-italic"><i class="fa fa-paperclip text-primary"></i> Investment ({{investments.count}})</h5>
          <div class="row mb-3">
            {% if investments %}
            <div class="col-sm-8">
              <table class="table">
                <thead>
                  <tr>
                    <th>Holder</th>
                    <th>Maturity</th>
                    <th>Due in</th>
                    <th class="text-center">Principal</th>
                    <th class="text-right">Accrued ROI</th>
                  </tr>
                </thead>
                <tbody>
                  {% for investment in investments %}
                  <tr>
                    <td><a href="{% url 'networth-investment-detail' investment.pk %}">{{investment.holder}}</a></td>
                    <td>{{investment.maturity}}</td>
                    <td class="text-center">{% if investment.due_in_days > 0 %} {{investment.due_in_days}} day(s)
                      {% else %} Matured {% endif %}</td>
                    <td class="text-right">{{investment.principal}}</td>
                    <td class="text-right">{{investment.present_roi}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="col-sm-4">
              <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  {% for investment in investment_total %}
                  <li class="list-group-item"> {{investment.currency}}
                    <span class="float-right">{{investment}}</span>
                  </li>
                  {% endfor %}
                  {% if year_roi %}
                  <li class="list-group-item text-center">Current Year Achievable</li>
                  {% for key, investment in year_roi.items %}
                  <li class="list-group-item">
                    Principal <span class="float-right">{{investment.principal}}</span>
                  </li>
                  <li class="list-group-item">
                    ROI <span class="float-right">{{investment.roi}}</span>
                  </li>
                  {% endfor%}
                  {% endif %}
                </ul>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>

    </div>

    <div class="tab-pane fade" id="stock" role="tabpanel" aria-labelledby="nav-stock-tab">
      <div id="stock" class="row justify-content-center mt-3 shadow">
        <div class="col-sm-12">
          <h5 class="font-italic"><i class="fa fa-paperclip text-primary"></i> Stock ({{stocks.count}})</h5>
          <div class="row mb-3">
            {% if stocks %}
            <div class="col-sm-8">
              <table class="table">
                <thead>
                  <tr>
                    <th>Holder</th>
                    <th>Date</th>
                    <th class="text-center"># of units</th>
                    <th class="text-center">Cost</th>
                    <th class="text-center">Value</th>
                  </tr>
                </thead>
                <tbody>
                  {% for stock in stocks %}
                  <tr>
                    <td><a href="{% url 'networth-stock-detail' stock.pk %}">{{stock.holder}}</a></td>
                    <td>{{stock.date_bought.date}}</td>
                    <td class="text-center">{{stock.units}}</td>
                    <td class="text-right">{{stock.unit_cost}}</td>
                    <td class="text-right">{{stock.value}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            <div class="col-sm-4">
              <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  {% for stock in stock_total %}
                  <li class="list-group-item"> {{stock.currency}}
                    <span class="float-right">{{stock}}</span>
                  </li>
                  {% endfor %}
                </ul>

              </div>
            </div>
            {% else %}
            <p class="font-italic ml-2">No Stock investment</p>
            {% endif %}
          </div>

        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="business" role="tabpanel" aria-labelledby="nav-business-tab">
      <div id="stock" class="row justify-content-center mt-3 shadow">
        <div class="col-sm-12">
          <h5 class="font-italic"><i class="fa fa-paperclip text-primary"></i> Business ({{business.count}})</h5>
          <div class="row mb-3">
            {% if business %}
            <div class="col-sm-8">
              <table class="table">
                <thead>
                  <tr>
                    <th>Holder</th>
                    <th class="text-center"># of shares</th>
                    <th class="text-center">Cost</th>
                    <th class="text-center">Capital</th>
                  </tr>
                </thead>
                <tbody>
                  {% for object in business %}
                  <tr>
                    <td><a href="{% url 'networth-business-detail' object.pk %}">{{object.name}}</a></td>
                    <td class="text-center">{{object.shares}}</td>
                    <td class="text-right">{{object.unit_cost}}</td>
                    <td class="text-right">{{object.capital}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            <div class="col-sm-4">
              <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  {% for object in business_total %}
                  <li class="list-group-item"> {{object.currency}}
                    <span class="float-right">{{object}}</span>
                  </li>
                  {% endfor %}
                </ul>

              </div>
            </div>
            {% else %}
            <p class="font-italic ml-2">No Business available</p>
            {% endif %}
          </div>

        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="fixed_asset" role="tabpanel" aria-labelledby="nav-fixed-asset-tab">
      <div id="stock" class="row justify-content-center mt-3 shadow">
        <div class="col-sm-12">
          <h5 class="font-italic"><i class="fa fa-paperclip text-primary"></i> Fixed Asset ({{fixed_asset.count}})</h5>
          <div class="row mb-3">
            {% if fixed_asset %}
            <div class="col-sm-8">
              <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th class="text-center">Valuation Date</th>
                    <th class="text-center">Value</th>
                  </tr>

                </thead>
                <tbody>
                  {% for object in fixed_asset %}
                  <tr>
                    <td><a href="{% url 'networth-fixed-asset-detail' object.pk %}">{{object.name}}</a></td>
                    <td class="text-center">{{object.date}}</td>
                    <td class="text-right">{{object.value}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            <div class="col-sm-4">
              <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  {% for object in fixed_asset_total %}
                  <li class="list-group-item"> {{object.currency}}
                    <span class="float-right">{{object}}</span>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            {% else %}
            <p class="font-italic ml-2">No Fixed Asset available</p>
            {% endif %}
          </div>

        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="liabilities" role="tabpanel" aria-labelledby="nav-liabilities-tab">
      <div id="stock" class="row justify-content-center mt-3 shadow">
        <div class="col-sm-12">
          <h5 class="font-italic"><i class="fa fa-paperclip text-primary"></i> Liabilities ({{liabilities.count}})</h5>
          <div class="row mb-3">
            {% if liabilities %}
            <div class="col-sm-8">
              <table class="table">
                <thead>
                  <tr>
                    <th>Source</th>
                    <th class="text-center">Borrowed Value</th>
                    <th class="text-center float-right">Settlement Value</th>
                  </tr>

                </thead>
                <tbody>
                  {% for object in liabilities %}
                  <tr>
                    <td><a href="{% url 'networth-liability-detail' object.pk %}">{{object.source}}</a></td>
                    <td class="text-center">{{object.borrowed_amount}}</td>
                    <td class="text-right">{{object.settlement_amount}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            <div class="col-sm-4">
              <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  {% for object in liabilities_total %}
                  <li class="list-group-item"> {{object.currency}}
                    <span class="float-right">{{object}}</span>
                  </li>
                  {% endfor %}
                </ul>
                
              </div>
            </div>
            {% else %}
            <p class="font-italic ml-2">No Liabilities available</p>
            {% endif %}
          </div>

        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="outlook" role="tabpanel" aria-labelledby="nav-outlook-tab">
      <div id="stock" class="row justify-content-center mt-3 shadow">
        <div class="col-sm-12">
          <h5 class="font-italic"><i class="fa fa-paperclip text-primary"></i> Outlook</h5>
          <div class="row mb-3">
              <div class="col">
                <ul class="list-group">
                  <li class="list-group-item">{{currency_pair.local}} : {{currency_pair.usd}}, equilibrium @ {{currency_pair.equilibrium}}</li>
                  <li class="list-group-item">Number of Active Instruments: <span class="float-right">{{number_of_instruments|first}}({{number_of_instruments|last}})</span></li>
                </ul>
              </div>
              <div class="col"></div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row mt-3">
    <div class="col">
      <a class="btn btn-outline-dark float-right" href="{% url 'index' %}">Back</a>
    </div>
  </div>
</div>

{% endblock %}