{% extends 'core/base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
            <a class="nav-link" href="{% url 'investment-list' %}" title="Back to investments">
                <i class="fas fa-chevron-left text-muted"></i> Investment
            </a>
        </div>
        <div class="navbar-nav">
            <a class="nav-link" href="{% url 'networth-home' %}" title="Back to home">
                <i class="fas fa-times-circle text-danger"></i>
            </a>
        </div>
    </div>
</nav>

<div class="container mt-5 font-weight-lighter">
    <div class="row mt-1">
        <div class="col">
            <h1 class="font-weight-lighter">Holders</h1>
        </div>
    </div>

    {% if institutions %}
    <div class="row mt-4">
        <div class="col">
            {% for holders_data in institutions %}
            {% for key, value in holders_data.items %}
            <div class="card mb-4">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th class="text-danger">{{key}}</th>
                            <th class="text-right text-danger" colspan="3">
                                {% for total in value.native_totals %}{{total}} {% endfor %}
                            </th>
                        </tr>
                        <tr class="text-muted small">
                            <th>Principal</th>
                            <th class="text-right">Value (USD)</th>
                            <th class="text-right">Maturity</th>
                            <th class="text-right">ROI (USD)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in value.investments %}
                        <tr>
                            <td>{{record.value}}</td>
                            <td class="text-right">{{record.value_in_usd}}</td>
                            <td class="text-right">{{record.maturity}}</td>
                            <td class="text-right">{{record.roi_in_usd}}</td>
                        </tr>
                        {% endfor %}
                        <tr class="bg-light">
                            <td>Total (USD)</td>
                            <td class="text-right">{{value.value_total}}</td>
                            <td></td>
                            <td class="text-right">{{value.roi_total}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="row mt-4">
        <div class="col">
            <p class="text-muted font-italic">No institutional report available.</p>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
