{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-3">
    {% if institutions %}
    <div class="row">
        <div class="col">
            <h3>Investment Report by Institution <span class="float-right">{{total}}</span></h3>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>Holder & Value</th>
                        <th class="text-right">Value in USD</th>
                        <th class="text-right">Maturity</th>
                        <th class="text-right">ROI in USD</th>
                    </tr>
                </thead>
                {% for institution in institutions %}
                {% for key, value in institution.items %}
                
                <tbody>
                    <tr>
                        <th><h6 class="text-danger">{{key}}</h6></th>
                    </tr>
                    {% for record in value %}
                    <tr>
                        <td>{{record.value}}</td>
                        <td class="text-right">{{record.value_in_usd}}</td>
                        <td class="text-right">{{record.maturity}}</td>
                        <td class="text-right">{{record.roi_in_usd}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endfor %}
                {% endfor %}
                <tfoot>
                    <tr>
                        <th class="text-left">{{institution.local_total}}</th>
                        <th class="text-right">{{institution.sub_total}}</th>
                    </tr>
                </tfoot>
            </table>
            </td>
            </tr>
        </div>
    </div>
    {% else %}
    <h3>No institutional Report available</h3>
    {% endif %}

    <div class="row mb-3">
        <div class="col"><a class="btn btn-outline-dark float-right" href="{% url 'networth-home' %}">Home</a></div>
    </div>
</div>
{% endblock %}