{% extends 'core/base.html' %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'networth-home' %}">Networth</a></li>
    <li class="breadcrumb-item"><a href="{% url 'investment-list' %}">Investment</a></li>
    <li class="breadcrumb-item active" aria-current="page">Holder's Details</li>
  </ol>
</nav>

<div class="container mt-3 font-weight-lighter">
    {% if institutions %}
    <div class="row">
        <div class="col">
            <h3>Investment Report by Institution <span class="float-right">{{total}}</span></h3>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>Holder & Value</th>
                        <th class="text-right">Value in USD</th>
                        <th class="text-right">Maturity</th>
                        <th class="text-right">ROI in USD</th>
                    </tr>
                </thead>
                {% for holders_data in institutions %}
                {% for key, value in holders_data.items %}
                
                <tbody>
                    <tr>
                        <th><h6 class="text-danger">{{key}}</h6></th>
                    </tr>
                    {% for record in value|first %}
                    <tr>
                        <td>{{record.value}}</td>
                        <td class="text-right">{{record.value_in_usd}}</td>
                        <td class="text-right">{{record.maturity}}</td>
                        <td class="text-right">{{record.roi_in_usd}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>Total</td>
                        <td class="text-right" colspan="1">{{value|last|first}}</td>
                        <td class="text-right" colspan="2">{{value|last|last}}</td>
                    </tr>
                </tbody>
                {% endfor %}
                {% endfor %}
            </table>
            </td>
            </tr>
        </div>
    </div>
    {% else %}
    <h3>No institutional Report available</h3>
    {% endif %}

    
</div>
{% endblock %}