{% extends 'core/base.html' %}
{% load custom_tag %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">

            <a class="nav-link" href="{% url 'networth-home'%}"><i class="fa fa-door-closed text-danger"></i> Close</a>
        </div>

    </div>
</nav>

<div class="container mt-5">

    <div class="row mt-4">
        {% if investments %}
        <div class="col-sm-8">
            <table class="table" data-toggle="table">
                <thead>
                    <tr>
                        <th>Holder</th>
                        <th>Maturity</th>
                        <th class="">Due</th>
                        <th class="text-center">Principal</th>
                        <th class="text-center">Accrued ROI</th>
                    </tr>
                </thead>
                <tbody>
                    {% for investment in investments %}
                    <tr class="font-weight-lighter">
                        <td><a href="{% url 'networth-investment-detail' investment.pk %}">{{investment.holder}}</a>
                        </td>
                        <td>{{investment.maturity}}</td>
                        <td class="">{% if investment.due_in_days == 0 %}
                            <span class="text-success">Matured</span> {% elif investment.due_in_days < 0 %} <span
                                class="text-success"> {{investment.due_in_days|scalar_value}} days ago {% else %}
                                in {{investment.due_in_days}} days
                                {% endif %}
                        </td>
                        <td class="text-right">{{investment.principal}}</td>
                        <td class="text-right">{{investment.present_roi}}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="row mt-5">
                <div class="col">
                    <h3 class="font-weight-lighter">YTD Achievement</h3>
                    <hr>
                    <h5 class="font-weight-lighter">By Currency</h5>
                    <table class="table mt-3" data-toggle="table">
                        <thead>
                            <tr>
                                <th>Currency</th>
                                <th>Principal</th>
                                <th>ROI</th>
                                <th>ROI($)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if year_roi %}
                            {% for key, investment in year_roi.items %}
                            <tr class="font-weight-lighter">
                                <td>{{key}}</td>
                                <td>{{investment.principal}}</td>
                                <td>{{investment.roi}}</td>
                                <td>{{investment.roi_usd}}</td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="row mt-3">
                <div class="col">
                    <h5 class="font-weight-lighter">By Country</h5>
                    <p>Comming soon...</p>
                </div>
                
            </div>
        </div>
        <div class="col-sm-4">
            <ul class="list-group list-group-flush font-weight-lighter">
                <li class="list-group-item list-group-item-primary text-center">Summary</li>
                <li class="list-group-item">Count <span
                        class="float-right badge badge-info">{{investments.count}}</span>
                </li>
                {% for investment in investment_total %}
                <li class="list-group-item"> {{investment.currency}}
                    <span class="float-right">{{investment}}</span>
                </li>
                {% endfor %}
                {% for investment in investments_summary %}
                <li class="list-group-item">
                    {{investment.holder}}
                    <span class="float-right">{{investment.value}}</span>
                </li>
                {% endfor %}
            </ul>

        </div>
        {% else %}
        <div class="row">
            <div class="col">
                <p class="font-italic ml-3">No Savings</p>
                <a class="btn btn-outline-primary ml-3" href="{% url 'networth-saving-create' %}">
                    Add Savings
                </a>
            </div>
        </div>

        {% endif %}
    </div>


</div>

{% endblock content %}