{% extends 'core/base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row mt-1">
        <div class="col">
            <h1 class="font-weight-lighter">Liability</h1>
        </div>
    </div>
    <div class="row mb-3">
        {% if liabilities %}
        <div class="col-sm-8 font-weight-lighter">
            <table class="table" data-toggle="table">
                <thead>
                    <tr class="text-right">
                        <th class="text-left">Source</th>
                        <th>Borrowed Value</th>
                        <th>Settlement Value</th>
                        <th>To USD</th>
                    </tr>

                </thead>
                <tbody>
                    {% for object in liabilities %}
                    <tr class="text-right">
                        <td class="text-left"><a href="{% url 'networth-liability-detail' object.pk %}">{{object.source}}</a></td>
                        <td>{{object.borrowed_amount}}</td>
                        <td>{{object.settlement_amount}}</td>
                        <td>{{object.to_usd}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3">Total in USD</td>
                        <td class="text-right">{{to_usd_total}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col">
                    <a class="btn btn-outline-dark float-right" href="{% url 'networth-home'%}"><i class="fa fa-door-open text-danger"></i> Close</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 font-weight-lighter">
            <ul class="list-group list-group-flush">
                {% for object in liabilities_total %}
                <li class="list-group-item"> {{object.currency}}
                    <span class="float-right">{{object}}</span>
                </li>
                {% endfor %}
            </ul>

        </div>
        {% else %}
        <p class="font-italic ml-2">No Liabilities available</p>
        {% endif %}
    </div>

</div>

{% endblock content %}