{% extends 'core/base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
            <a class="nav-link" href="{% url 'networth-saving-create' %}">
                <i class="fa fa-plus text-success"></i> New Account
            </a>
            <a class="nav-link" href="{% url 'networth-external-fund-home' %}">
                <i class="fa fa-chevron-left text-danger"></i><i class="fa fa-chevron-right text-success"></i>
                Cross Fund <span class="sr-only">(current)</span></a>

            <a class="nav-link" href="{% url 'saving-counter-transfer' %}">
                <i class="fa fa-download text-info"></i>
                Transfer
            </a>
            <a class="nav-link" href="{% url 'saving-conversion' %}">
                <i class="fa fa-retweet text-success"></i>
                Convert
            </a>
        </div>
        <div class="navbar-nav">
            <a class="nav-link" href="{% url 'networth-home'%}"><i class="fa fa-times-circle text-danger"></i></a>
        </div>

    </div>
</nav>

<div class="container mt-5">

    <div class="row mt-1">
        <div class="col">
            <h1 class="font-weight-lighter">Savings</h1>
        </div>
    </div>

    <div class="row mb-3">
        {% if savings %}
        <div class="col-sm-8 font-weight-lighter">
            <table class="table" data-toggle="table">
                <thead>
                    <tr>
                        <th>Holder</th>
                        <th>Date</th>
                        <th class="text-center">Host Country</th>
                        <th class="text-center">Value</th>
                        <th class="text-center">To USD</th>
                    </tr>
                </thead>
                <tbody>
                    {% for saving in savings %}
                    <tr>
                        <td><a href="{% url 'networth-saving-detail' saving.pk %}">{{saving.holder}}</a></td>
                        <td>{{saving.date}}</td>
                        <td class="text-center">{{saving.host_country}}</td>
                        <td class="text-right">{{saving.value}}</td>
                        <td class="text-right">{{saving.to_usd}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4">Total in USD</td>
                        <td class="text-right">{{to_usd_total}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="col-sm-4">
            <ul class="list-group list-group-flush font-weight-lighter">
                <li class="list-group-item list-group-item-primary text-center">Summary</li>
                <li class="list-group-item">Count <span class="float-right badge badge-info">{{savings.count}}</span>
                </li>
                {% for saving in savings_total %}
                <li class="list-group-item"> {{saving.currency}}
                    <span class="float-right">{{saving}}</span>
                </li>
                {% endfor %}
                {% for savings in savings_summary %}
                <li class="list-group-item">
                    {{savings.holder}}
                    <span class="float-right">{{savings.usd_value}}</span>
                </li>
                {% endfor %}
            </ul>

        </div>
        {% else %}
        <div class="row">
            <div class="col">
                <p class="font-italic ml-3">No Savings</p>
                <a class="btn btn-outline-primary ml-3" href="{% url 'networth-saving-create' %}">
                    Add Savings
                </a>
            </div>
        </div>

        {% endif %}
    </div>


</div>

{% endblock content %}