{% extends 'core/base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
        </div>
        <div class="navbar-nav">
            <a class="nav-link" href="{% url 'networth-home'%}"><i class="fa fa-times-circle text-danger"></i></a>
        </div>

    </div>
</nav>

<div class="container mt-3">
    <div class="row mt-1">
        <div class="col">
            <h1 class="font-weight-lighter">Stock</h1>
        </div>
    </div>
    
    <div class="row mb-3">
        {% if stocks %}
        <div class="col-sm-8 font-weight-lighter">
            <table class="table">
                <thead>
                    <tr>
                        <th>Holder</th>
                        <th>Date</th>
                        <th class="text-center"># of units</th>
                        <th class="text-center">Cost</th>
                        <th class="text-center">Value</th>
                        <th class="text-center">To USD</th>
                    </tr>
                </thead>
                <tbody>
                        {% for stock in stocks %}
                        <tr>
                            <td><a href="{% url 'networth-stock-detail' stock.pk %}">{{stock.holder}}</a></td>
                            <td>{{stock.date_bought.date}}</td>
                            <td class="text-center">{{stock.units}}</td>
                            <td class="text-right">{{stock.unit_cost}}</td>
                            <td class="text-right">{{stock.value}}</td>
                            <td class="text-right">{{stock.to_usd}}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5">Total in USD</td>
                            <td class="text-right">{{to_usd_total}}</td>
                        </tr>
                </tbody>
            </table>

            
        </div>

        <div class="col-sm-4 font-weight-lighter">
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-primary text-center">Summary</li>
                <li class="list-group-item">Count <span class="float-right badge badge-info">{{stocks.count}}</span></li>
                {% for stock in stock_total %}
                <li class="list-group-item"> {{stock.currency}}
                    <span class="float-right">{{stock}}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <p class="font-italic ml-2">No Stock investment</p>
        {% endif %}
    </div>

</div>

{% endblock content %}