{% extends 'core/base.html' %}

{% block content %}

<div class="container">
    
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-sm-8">
            <h3 class="text-center">Dashboard</h3>
            <div class="row">
                <div class="col">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">Jobs Executed <span class="badge-success badge-pill">{{jobs_executed}}</span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">Jobs Cancelled <span class="badge-success badge-pill">{{jobs_cancelled}}</span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">Points Accrued <span class="badge-success badge-pill">{{points}}</span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">Points Redeemed <span class="badge-success badge-pill">{{points_redeemed}}</span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">Base Points <span class="badge-success badge-pill">{{base_points}}</span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">Bonus Points <span class="badge-success badge-pill">{{bonus_points}}</span></li>
                      </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Balance Pts</th>
                                <th>Jobs Done</th>
                                <th>Redeem Pts</th>
                            </tr>

                        </thead>
                        <tbody>
                            {% for worker in workers %}
                            <tr>
                                <td>{{worker.username}}</td>
                                <td>{{worker.points}}</td>
                                <td>{{worker.jobs}}</td>
                                <td>{{worker.redeem}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col mt-3">
                    <a class="btn btn-outline-dark float-right" href="{% url 'chore-home' %}">Back</a>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}