{% extends 'core/base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<div class="container mt-3">
    <hr>
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-sm-6">

<form action="" method="post">
    {% csrf_token %}
    <legend>Extend Time Form</legend>
    <hr>
    <p>Work: {{object.work}}</p>
    <hr>
    <fieldset>

        {{form|crispy}}
    </fieldset>

    <div class="">
        <button class="btn btn-outline-dark" type="submit">Submit</button>
        <a class="btn btn-outline-dark float-right" href="{% url 'assign-work-list' %}">Back</a>
    </div>

</form>
</div>
</div>

</div>
{% endblock %}