{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-sm-8">
            <h3>Chores User's Guide</h3>
            <hr>
            <h4>Register</h4>
            <p>
                You must be registered to use this app, either as a worker or supervisor.
                The app's admin is responsible to aid you in registration by providing you with a token.
                <a class="text-decoration-none" href="{% url 'chore-registration-message' %}">Register here</a>
            </p>
            <hr>
            <h4>Sign In or Login</h4>
            <p>When you sign in as a worker, you will have access to</p>
            <ul>
                <li>View jobs <i class="fa fa-people-carry text-success"></i> </li>
                <li>View the job register <i class="fa fa-address-card text-success"></i>  - A list of jobs routinely assigned to a user</li>
                <li>View assigned job(s)</li>
                <li>View your profile <i class="fa fa-user text-success"></i></li>
                <li>Initiate job <i class="fab fa-osi" style="color:rgb(61, 160, 61)"></i></li>
                <li>Complete task</li>
            </ul>
            <p>When you sign in as a supervisor, you will have access to</p>
            <ul>
                <li>Do all the worker can do as listed above</li>
                <li>Create and assign jobs</li>
                <li>Grade the work done</li>
                <li>View your profile and that of the workers</li>
            </ul>
            <hr>
            <h4>Job Register</h4>
            <p>
                These are already existing jobs that are usually done routinely. Jobs are scheduled from
                the job register.
            </p>
            <h4>Jobs</h4>
            <p>
                Jobs are a list of things that need to be done to earn points
            </p>
            <a class="btn btn-outline-dark float-right mr-3" href="{% url 'chore-home' %}">Back</a>
        </div>
    </div>
</div>
{% endblock %}