{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block head %}

{% endblock %}

{% block content %}
<div class="container">
    <div class="row align-items-center justify-content-center vh-100">
        <div class="col">
            <h3>Setup page</h3>
            <hr>
            <h5 class="font-italic text-muted">Bonus <a href="{% url 'chore-bonus-point-new' %}"><i class="fa fa-plus fa-sm text-success"></i></a></i></h5>
            <hr>
            <ul class="list-group list-group-flush">
                {% for obj in bonus_list %}
                <li class="list-group-item">
                    {% if obj.active %} <i class="fa fa-check-circle text-success"></i>
                    {% else %} <i class="fa fa-times text-danger"></i>
                    {% endif %}
                    <a href="{% url 'bonus-update' obj.pk %}">{{obj}}</a>
                </li>
                {% endfor %}
            </ul>
            <hr>
            <div class="m-2">
                <a class="btn btn-outline-dark" href="{% url 'chore-home' %}">Back</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}