{% extends 'core/base.html' %}
{% block head %}
<style>
    
</style>
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-sm-10">
            <h4>List of Works</h4>
            <hr>
            <input id="tableFilter" class="form-control mb-3" type="text" placeholder="Search...">

            <table class="table">
                <thead>
                    <tr>
                        <th>Jobs</th>
                        <th>Points</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                    <tr>
                        <td><a href="{% url 'work-detail' object.pk %}">{{object.name}}</a></td>
                        <td>{{object.point}} <a href="{% url 'work-evaluate' %}"><i class="fa fa-edit"></i></a></td>
                        <td><a href="#" data-toggle="tooltip" title="{{object.description}}">{{object.description|truncatewords:7}}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if is_paginated %}
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="?page=1">First</i></a></li>
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}"><i class="fa fa-backward"></i></a></li>
                    {% endif %}
                    <li class="page-item active"><a class="page-link" href="#">{{page_obj.number}}</a></li>
                    {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}"><i class="fa fa-forward"></i></a></li>
                    {% endif %}
                    <li class="page-item"><a class="page-link" href="?page={{page_obj.paginator.num_pages}}">Last</a></li>
                </ul>
            </nav>
            {% endif %}
            <div class="row mb-3">
                <div class="col">
                    {% if user.is_staff %}
                        <a class="btn btn-outline-dark" href="{% url 'work-create' %}">Create</a>
                    {% endif %}  
                    <a class="btn btn-outline-dark float-right" href="{% url 'chore-home' %}">Back</a>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}

